<div class="dialog-edit">
    <div class="dialog-close" ng-click="close()">X</div>
    <div class="clear"></div>
    <div class="dialog-edit-header">
        Turmas
    </div>
    <div class="dialog-edit-content">
        <form name="form" novalidate autocomplete="on">
            <button type="button" class="generic-button delete-button" ng-click="delete()" ng-show="class.id">Delete
            </button>
            <div class="dialog-form-title" ng-show="class.id">ID:</div>
            <div class="dialog-form-input-readonly-box">
                <input class="dialog-form-input dialog-form-input-readonly" required name="id" readonly type="text"
                       data-ng-model="class.id"
                       ng-show="class.id"/>
            </div>
            <div class="dialog-form-title">Abrev:</div>
            <input class="dialog-form-input" required name="abrev" type="text" data-ng-model="class.abrev"
                   placeholder="Abrev"/>

            <div class="dialog-form-title">Semestre:</div>
            <input class="dialog-form-input" required name="level" type="text" data-ng-model="class.level"
                   placeholder="Semestre"/>

            <div class="dialog-form-title">Disciplina:</div>
            <select ng-model="class.Discipline" required
                    ng-options="discipline.name for discipline in disciplineList track by discipline.id"> </select>

            <div class="dialog-form-title">Professor:</div>
            <select ng-model="class.Teacher" required
                    ng-options="teacher.name for teacher in teacherList track by teacher.id"> </select>


            <div class="dialog-form-title">Alunos:</div>
            <div class="student pointer" ng-repeat="student in studentList"
                 ng-class="{'student-selected':(student.selected)}" ng-click="student.selected=!student.selected">
                {{student.name}}
            </div>
            <br/>
            <button type="submit" class="generic-button" ng-click="submit()">Enviar</button>
        </form>
    </div>
</div>
