<div class="dialog-edit">
    <div class="dialog-close" ng-click="close()">X</div>
    <div class="clear"></div>
    <div class="dialog-edit-header">
        Avaliações
    </div>
    <div class="dialog-edit-content">
        <form name="form" novalidate autocomplete="on">
            <button type="button" class="generic-button delete-button" ng-click="delete()" ng-show="test.id">Delete
            </button>
            <div class="dialog-form-title" ng-show="test.id">ID:</div>
            <div class="dialog-form-input-readonly-box">
                <input class="dialog-form-input dialog-form-input-readonly" required name="id" readonly type="text"
                       data-ng-model="test.id"
                       ng-show="test.id"/>
            </div>
            <div class="dialog-form-title">Nome:</div>
            <input class="dialog-form-input" required name="name" type="text" data-ng-model="test.name"
                   placeholder="Nome"/>

            <div class="dialog-form-title">Turma:</div>
            <select ng-model="test.Class" required ng-click="studentList = class.studentClass"
                    ng-options="class.abrev for class in classList track by class.id"
                    ng-change="noteList=[]"></select>
            <br/>

            <div class="dialog-form-title">Notas:</div>
            <table class="noteBlock">
                <tr class="pointer" ng-repeat="note in noteList">
                    <td class="noteName">
                        {{note.Student.name}}:
                    <td/>
                    <td class="noteValue"><input type="number" class="noteValueInput" ng-model="note.note"/></td>
                </tr>
            </table>
            <button type="submit" class="generic-button" ng-click="submit()">Enviar</button>
        </form>
    </div>
</div>
