.main-menu {
    width: 10%;
    float: left;
    background: #f6f6f6;
    overflow: hidden;
}

.main-menu-itemBoxer {
    width: 100%;
    height: 25px;
    border: 1px solid #555555;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
}

.main-menu-item {
    width: 100%;
    border: 1px solid #555555;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    max-height: 65px;
}

.selected {
    border: 1px solid midnightblue;
    background: dodgerblue;
}

.main-content {
	width: 76%;
    padding: 0 1% 0 1%;
    right: 1%;
    position: fixed;
}