<!DOCTYPE html>
<html ng-app="gdaApp">
<head>
    <base href="/"/>
    <meta charset="UTF-8">
    <meta http-equiv='Content-type' content='text/html;charset=UTF-8'/>
    <title>GDA</title>
    <!-- CSS -->
    <link rel='stylesheet' href='/bower_components/ng-dialog/css/ngDialog.min.css'/>

    <!-- JS -->
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/bower_components/ng-dialog/js/ngDialog.min.js"></script>
    <script type="text/javascript" src="/public/init.js"></script>
    <script type="text/javascript" src="/public/controllers/main_content.js"></script>


    <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div ui-view="header"></div>
<div ui-view="content"></div>
</body>
</html>